<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1>Hello, {{username}}</h1>
    <p>Your One-Time Password (OTP) is:</p>
    <h2
      style="
        letter-spacing: 4px;
        font-size: 28px;
        font-weight: bold;
        color: #2c3e50;
      "
    >
      {{otp}}
    </h2>
    <p>
      This OTP is valid for <strong>{{expiryMinutes}} minutes</strong>. Please
      do not share it with anyone.
    </p>
    <p>If you didn’t request this, you can ignore this email.</p>
  </body>
</html>
